<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<package name="com.chenqiang.study.entity"/>
		<!-- <typeAlias alias="User" type="com.chenqiang.study.entity.User" /> -->
	</typeAliases>
	<!-- mapper.xml文件路径 -->
	<mappers>
		<mapper resource="com/chenqiang/study/mapper/User.xml" />
	</mappers>
</configuration>